.navbar {
  width: 100%;
  margin: 10px 0px 0px 0px;
  
}

ul {
  list-style: none;
}

.logo {
width: 50px;
}

.navbar-link a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  border-radius: 5px 15px
}

.navbar-link a:not(.logo):hover{
  background-color: rgb(46, 97, 240);
  color: rgb(255, 255, 255);
}

